<div class="control-unit-container">
  <button (click)="handleStart()" class="start-button">{{startLabel | async}}</button>
  <mat-form-field>
    <input matInput type="text" placeholder="Name" (input)="handleInput($event.target.value)"/>
  </mat-form-field>
  <div *ngIf="desktop">
    <mat-form-field>
      <mat-label>Select preset</mat-label>
      <mat-select (selectionChange)="handlePreset($event.value)">
        <mat-option *ngFor="let preset of (presetsArray$ | async)" [value]="preset.value">
          {{preset.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
