<div class="score">
  <div>Computer : {{name ? name : 'User'}}</div>
  <div *ngIf="score.winner; else noWinner">
    <div *ngIf="score.winner === 'Computer'; else userWinner" class="danger rotated-winner">Computer won</div>
    <ng-template #userWinner class="success rotated-winner">{{score.winner}} won</ng-template>
  </div>
  <ng-template #noWinner>
    <div class="score-string">
      <app-score-item [data]="score.computer"></app-score-item>
      <span>&nbsp;  :  &nbsp;</span>
      <app-score-item [data]="score.user"></app-score-item>
    </div>
  </ng-template>
</div>


