.score{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #808080;
  margin: 0 auto 10px auto;
  width: 100%;
  order: 1;
}
.score-string{
  display: flex;
}
.rotated-winner{
  animation: rotate-winner .3s
}
.success{
  color: green;
}
.danger{
  color: red;
}
:host {
  width: 100%
}
@keyframes rotate-winner {
  0% {transform: rotate3d(0,1,0, 0deg)}
  49.9% {transform: rotate3d(0,1,0, 90deg)}
  50% {transform: rotate3d(0,1,0, 270deg)}
  to {transform: rotate3d(0,1,0, 360deg)}
}
@media screen and (max-width: 380px) {
  .score{
    order: 3;
  }
}
